<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Index Route</h1>
    <ul class="humans">
      <%for(let i = 0; i < people.length; i++){%>
        <li><%=people[i].name%></li>
        <form class="delete-person" action="/people?_method=DELETE" method="post">
          <input type="submit" name="" value="Delete Person">
        </form>
      <%}%>
    </ul>

  </body>
</html>
