<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Make a New Person</title>
  </head>
  <body>
    <h1>Make a New Person</h1>
    <form class="new-person" action="/people" method="post">
      Name: <input type="text" name="name" value="">
      Age: <input type="text" name="age" value="">
      Hair Color: <input type="text" name="hairColor" value="">
      <input type="submit" name="" value="Make Person">
    </form>
  </body>
</html>
